<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seatify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Seatify</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>                
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
